<div ng-show="currentUser.role=='ADMIN'">
	<h3>Lists Of Blogs waiting for approval</h3>
	<div ng-if="blogsWaitingForApproval.length==0">No blogposts available</div>
	<table ng-show="blogsWaitingForApproval.length>0" class="table table-striped">
		<thead>
			<tr>
				<td>Blogs Title</td>
				<td>Author</td>
				<td>Posted on</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="blogPost in blogsWaitingForApproval">
				<td><a href="#/admin/getblog/{{blogPost.id}}">{{blogPost.blogTitle}}</a></td>
				<td>{{blogPost.postedBy.firstname}}&nbsp;{{blogPost.postedBy.lastname}}</td>
				<td>{{blogPost.postedOn | date : 'yyyy:MM:dd'}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<h3>List Of Blogs approved</h3>
	<div ng-if="blogsApproved.length==0">No Approved blogposts available</div>
	<table ng-show="blogsApproved.length>0" class="table table-striped">
		<thead>
			<tr>
				<td>Blogs Title</td>
				<td>Author</td>
				<td>Posted on</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="blogPost in blogsApproved">
				<td><a href="#/getblog/{{blogPost.id}}">{{blogPost.blogTitle}}</a></td>
				<td>{{blogPost.postedBy.username}}</td>
				<td>{{blogPost.postedOn | date : 'medium'}}</td>
			</tr>
		</tbody>
	</table>



</div>