<h3>Approved Blogpost</h3>
<div class="row">
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{blogPost.blogTitle}}</b> <b>Created By:</b>{{blogPost.postedBy.firstname}}<br>
				<b>Created On:</b>{{blogPost.postedOn | date:'yyyy:MM:dd'}}
			</div>
			<div class="panel-body">{{blogPost.blogContent}}</div>
			<a></a> <br>
		</div>
	</div>
</div>
<b>Number Of likes</b>
{{blogPost.likes}}
<div ng-show="liked">
	<span class="glyphicon glyphicon-thumbs-up" style="color: blue"
		ng-click="updateLikes()"></span>
</div>
<div ng-show="!liked">
	<span class="glyphicon glyphicon-thumbs-up" style="color: black"
		ng-click="updateLikes()"></span>
</div>
Blog Comments
<div class ="container">
	<textarea rows="4" cols="15" ng-model="commentText"></textarea>
	<br> <input type="submit" ng-click="addComment()"
		value="POST COMMENT">
</div>
<div>
	<a href="" ng-click="showComments()"><b>{{blogPost.blogComments.length}} comments</b></a>
	<ul ng-show="showComment" style="List-style:none">
		<li
			ng-repeat="comment in blogPost.blogComments | orderBy:'-commentedOn' ">
			{{comment.commentText}}<br> <strong>Commented By </strong>
			{{comment.commentedBy.username}}
			&nbsp; <strong>Commented On</strong>{{comment.commentedOn | date:
			'medium'}}
		</li>
	</ul>
</div>