<div ng-show="pendingrequests.length==0">
	<b>No pending Requests</b>
</div>

<table class="table" ng-show="pendingrequests.length>0">
	<thead>
		<tr>
			<th>Username</th>
			<th>Image</th>
			<th>Accept</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pendingrequest in pendingrequests">
			<td><a ng-click="">{{pendingrequest.fromId}}</a></td>
			<td><img src="http://localhost:7475/pro2middleware/getimage/{{pendingrequest.fromId}}"alt="Image is not Available" height="40" width="40"></td>
			<td><a class="btn btn-primary" ng-click="updatePendingRequest(pendingrequest,'A')">Accept</a></td>
			<td><a class="btn btn-danger" ng-click="updatePendingRequest(pendingrequest,'D')">Delete</a></td>
		</tr>
	</tbody>
</table>