<table class="table">
	<thead>
		<tr>
			<td>Firstname</td>
			<td>Lastname</td>
			<td>Profile Pic</td>
			<td>Action</td>
		<tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in suggestedusers">
			<td><a >{{user.firstname}}</a></td>
			<td>{{user.lastname}}</td>
			<td><img
				src="http://localhost:7475/pro2middleware/getimage/{{user.username}}"alt="Image not available" height="60" width="60"></td>
			<td><a href="" ng-click="addFriendRequest(user.username)" class="btn btn-primary">Send Friend Request</a></td>

		</tr>
	</tbody>
</table>