@CHARSET "ISO-8859-1";
.rw-number-notification{
	position: absolute;
	top: -7px;
	right: -6px;
	padding: 3px 3px 2px 3px;
	background-color: red;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 10px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px silver;
	
}